* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, header h2 {
  display: flex;
  margin: 50px;
  flex-direction: row;
  align-items: center;
}

#question {
  display: flex;
  flex-direction: column;
}

.options button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  width: 600px;
  height: 75px;
  background-color: rgb(110, 21, 198);
  box-shadow: 5px;
  border-radius: 20px;
}

